{{ if not .Params.hidden }}
<article class="post">
  {{ .Render "header" }}
  {{ $.Scratch.Set "summary" ((delimit (findRE "<p.*?>(.|\n)*?</p>" .Content 1) "") | truncate (default 300 .Site.Params.summary_length) (default "&hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
  {{ $.Scratch.Get "summary" }}
  <footer>
    <ul class="actions">
      <li><a href="{{ .RelPermalink }}" class="button big">Continue Reading</a></li>
    </ul>
  {{ .Render "footer-category" }}
  </footer>
</article>
{{ end }}